@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS ROOT VARIABLES */
:root{
    --header_height : 3rem;
    --font_semi : 600;
}

/* -------------COLORS---------------- */
:root{
    --first_color : #4070f4;
    --second_color : #0E2431;
    --gradient_color : linear-gradient(to right, #5001fb, #8e0af3)
}

/* -------------FONT Style---------------- */
:root{
    --body_font : 'Poppins', sans-serif;
    --big_font_size : 2rem;
    --h2_font_size : 1.5rem;
    --normal_font_size : 0.938rem;
}

/* -------------Media Screen : Min-Width : 768px---------------- */
@media screen and (min-width : 768px){
    :root{
        --big_font_size : 3.5rem;
        --h2_font_size : 2rem;
        --normal_font_size : 1rem;
    }
}

/* -------------MARGINS---------------- */
:root{
    --mb_1 : 0.5rem;
    --mb_2 : 1rem;
    --mb_3 : 1.5rem;
    --mb_4 : 2rem;
    --mb_5 : 2.5rem;
    --mb_6 : 3rem;
}

/* -------------Z_INDEX---------------- */
:root{
    --z_back : -10;
    --z_normal : 1;
    --z_tooltip : 10;
    --z_fixed : 100;
}

/* -------------BASE---------------- */
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header_height) 0 0 0;
    font-family: var(--body_font);
    font-size: var(--normal_font_size);
    color: var(--second_color);
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* -------------SECTION CSS CLASS VARIABLES---------------- */
.section_title{
    position: relative;
    font-size: var(--h2_font_size);
    color: var(--first_color);
    margin-top: var(--mb_2);
    margin-bottom: var(--mb_4);
    text-align: center;
}

.section_title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first_color);
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* -------------LAYOUT---------------- */
.bd_grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb_2);
    margin-right: var(--mb_2);
}

.myHeader{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z_fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,0.15);
}

/* -------------NAVBAR : Navigation Bar---------------- */
.nav{
    height: var(--header_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font_semi);
}

@media screen and (max-width : 768px){
    .nav_menu{
        position: fixed;
        top: var(--header_height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second_color);
        transition: 0.5s;
    }
}

.nav_items{
    margin-bottom: var(--mb_4);
}

.nav_link{
    position: relative;
    color: #fff;
}

.nav_link:hover{
    position: relative;
}

.nav_link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first_color);
}

.nav_logo{
    color: var(--second_color);
}

.nav_toggle{
    color: var(--second_color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* -------------ACTIVE MENU---------------- */
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first_color);
}

.show{
    right: 0%;
}

/* -------------HOME SECTION---------------- */
.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_data{
    align-self: center;
}

.home_title{
    font-size: var(--big_font_size);
    margin-bottom: var(--mb_5);
}

.home_title_color{
    color: var(--first_color);
}

.home_social_links{
    display: flex;
    flex-direction: column;
}

.home_social_icon{
    width: max-content;
    margin-bottom: var(--mb_2);
    font-size: 1.5rem;
    color: var(--second_color);
}

.home_social_icon:hover{
    color: var(--first_color);
}

.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

.home_img svg{
    width: 100%;
}

/* -------------WEBSITE BUTTONS---------------- */

.button{
    display: inline-block;
    color: #fff;
    padding: .75rem 2.5rem;
    background: var(--gradient_color);
    border-radius: .5rem;
    font-weight: var(--font_semi);
}

.button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}